<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %></p>
    <a href="/new">Add a message>></a>
      <div class="message-board">
        <% for(let i=0; i<messages.length; i++) { %>
            <div class="message">
                <p><%= messages[i].text %></p>
                <p><span class="user">-<%=messages[i].user %> </span><span class="date"> <%=messages[i].added.toDateString() %></span></p>
            </div>
        <% } %>
      </div>
  </body>
</html>
